<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#all" aria-controls="home" role="tab" data-toggle="tab">Home</a>
    </li>
    <li role="presentation">
      <a href="#older" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
    </li>
    <li role="presentation">
      <a href="#available" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
    </li>
    <li role="presentation">
      <a href="#upcoming" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all">
      <div class="row">
        <div class="col-lg-12">   
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="older">
    Tenders which are closed  
    </div>

    <div role="tabpanel" class="tab-pane fade" id="available">
    tenders which are still available and open for applicants
    </div>

    <div role="tabpanel" class="tab-pane fade" id="upcoming">
    tenders which are not yet open but will be available for the applications soon.
    </div>
  </div>

</div>