<div class="jumbotron issuer-back-img">
  <div class="container height200">
    <h2>Applicants ..</h2>
    <p>
    	Hello Applicants, <br>
    	You can see activity on all the tenders and apply to tenders you are interested in..
    </p>
	<p>
		<%= link_to "Sign UP", new_user_registration_path, :role=>"button", :class=>"btn btn-primary btn-lg" %>
	</p>
  </div>
</div>
<div class="jumbotron applicant-back-img">
  <div class="container height200">
  	<div class="pull-right colorfff">
  		<h2 class="colorfff pull-right">.. Issuers</h2>
  		<br>
  		<p class="pull-right">
    		<span class="pull-right">Hello Issuers,</span> <br>
    		You can get best options from mega pool of from different contractors..
	  	</p>
		<p>
			<%= link_to "Sign UP", new_user_registration_path, :role=>"button", :class=>"btn btn-default btn-lg pull-right" %>
		</p>
  	</div>
  </div>
</div>