<div class="container pt">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>Active Tenders</h3>
      <hr>
      <p>
	      Hello Applicants..! 
	      <br> 
	      Please check the below list of all active tenders and you can apply to any one of below you are interested in..
      </p>
    </div>
  </div>

  <div class="row">  
    <div class="col-lg-8 col-lg-offset-2">
      <%= text_field_tag :search, nil, class: "form-control", id: "search_box", placeholder: "Search project or user here..." %>
      <div id="search_message"></div> <br>
  	    <div class="table-responsive"> 
          <div id="searchResult">
    	    	<%= render partial: "homes/all_active_tender_search", locals:{:active_tenders => @active_tenders} %>
  		    </div>	
        </div>
			<%= link_to "< Back", :back %>
    </div>
  </div>

</div>

<script>
  $("#search_box").keyup(function(){
    val = this.value
    $.ajax({
      url: "/tenders/search_tender",
      method: "POST",
      data: {search: val}
    })
  })
</script>